# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=development

# Change the following values for local development.
SECRET_KEY=secret-key
TRELLO_TOKEN=trello-token
TRELLO_API_KEY=trello-api-key
TRELLO_BOARD_ID=trello-board-id
TRELLO_COMPLETED_LIST=trello-completed-list
TRELLO_NOT_STARTED_LIST=trello-not-started-list