{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row" style="display: flex;text-align: center;justify-content: space-around;">
    <div class="list_column" id="not-started" ondrop=handleDrop(event) ondragover=handleDragOver(event)>
      <h2>Not Started</h2>
        {% for item in view_model.not_started_items %}
          <div draggable="true" class="list_item" ondragstart=handleDragStart(event) ondragend=handleDragEnd(event) id={{item.id}}>{{ item }}</div>
        {% endfor %}
    </div>
    <div class="list_column" id="in-progress" ondrop=handleDrop(event) ondragover=handleDragOver(event)>
      <h2>In Progress</h2>
        {% for item in view_model.in_progress_items %}
        <div draggable="true" class="list_item" ondragstart=handleDragStart(event) ondragend=handleDragEnd(event) id={{item.id}}>{{ item }}</div>
        {% endfor %}
    </div>
    <div class="list_column" id="completed" ondrop=handleDrop(event) ondragover=handleDragOver(event)>
      <h2>Completed</h2>
        {% for item in view_model.completed_items %}
        <div draggable="true" class="list_item" ondragstart=handleDragStart(event) ondragend=handleDragEnd(event) id={{item.id}}>{{ item }}</div>
        {% endfor %}
    </div>
  </div>
  <div class="floating_submit">
    <form action="/add" method="post">
      <div>
        <input type="text" name="task_title" required>
        <input type="submit" value="Add task">
      </div>
    </form>
  </div>

{% endblock %}