{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row" style="display: flex;text-align: center;">
    <div style="width: 45%;">
      <h2>Not Started</h2>
        {% for task in tasks %}
          {% if not self.completed %}
            <div style="height: 50px;">{{ task }}</div>
          {% endif %}
        {% endfor %}
    </div>
    <div style="width: 5%; padding-bottom: 125px;">
      <h2>-&gt;</h2>
        {% for task in tasks %}
          {% if not self.completed %}
            <form action="{{ url_for('completed_item', id=task.id) }}" style="height: 50px;">
              <input type="submit" value="-&gt;"/>
            </form>
          {% endif %}
        {% endfor %}
    </div>
    <div style="width: 5%;padding-bottom: 125px;">
      <h2>&lt;-</h2>
        {% for task in tasks %}
          {% if self.completed %}
            <form action="{{ url_for('not_started_item', id=task.id) }}" style="height: 50px;">
              <input type="submit" value="&lt;-"/>
            </form>
          {% endif %}
        {% endfor %}
    </div>
    <div style="width: 45%;">
      <h2>Completed</h2>
        {% for task in tasks %}
          {% if self.completed %}
            <div style="height: 50px;">{{ task }}</div>
          {% endif %}
        {% endfor %}
    </div>
  </div>
  <div style="position: fixed;left: 50%;transform: translate(-50%, 0); background-color: #EAECEF; padding: 20px; border-radius: 20px; bottom: 5%;">
    <form action="/add" method="post">
      <div>
        <input type="text" name="task_title" required>
        <input type="submit" value="Add task">
      </div>
    </form>
  </div>

{% endblock %}